@import url('https://fonts.googleapis.com/css?family=Special+Elite');


* {
box-sizing: border-box;
/*border: 1px dotted red;*/
}

body {
 color: black;
 margin: 0;
 padding: 0;
 font-family: 'Special Elite', cursive;
 background-image: url('./../images/typewriter.jpg');
}

.container {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
}

.body-box {
  margin: 3em auto;
  padding: 2em;
  background-color: rgba(255, 255, 255, .9);
  width: 70%;
}

nav {
  width: 25%;
  background-color: rgba(0, 0, 0, .8);
  text-align: center;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 630px;
  overflow: auto;
}

nav h1 {
  font-size: 1.5em;
  color: white;
}

#text-bio {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
}

.logo {
  color: white;
  font-size: 2.5em;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 5%;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .05em;

  animation: typing 2.5s steps(40, end);
}

.tag {
  margin-left: 1%;
  padding: 1%;
  color: black;
  background-color: darkgray;
  border-radius: 50px;
  font-size: .5em;
}

.tag a {
  color: white;
}

.tag a:hover {
  color: black;
}

.tag-box {
  text-align: right;
  margin-top: 1%;

}

.bio {
  padding: 1vh 1vw;
  font-size: .75em;
  color: white;
}

main {
  width: 75%;
  margin: 0 auto;
}

main h1 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .05em;
}

main a {
  color: black;
  text-decoration: none;
}

main a:hover {
  color: dimgray;
  text-decoration: none;
}

.photo {
  max-width: 50%;
  border-radius: 500px;
  border: 5px solid white;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25%;
}

.social a {
  color: dimgray;
}

.social a:hover {
  color: gray;
}

.project {
  width: 90%;
  margin: 3vh auto;
}

p {
  font-size: .85em;
}

.description {
  text-align: justify;
  display: none;
}

/*ANIMATIONS*/

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

#creativejuices-header, #colorthes-header, #connectfour-header, #perfectexcuse-header, #beerswall-header, #disneyvault-header, #lyrics-header {
  animation: typing 7s steps(80, end);
  width: 0;
  animation-fill-mode: forwards;
}

#creativejuices-header {
  animation-delay: 1s;
}

#colorthes-header {
  animation-delay: 2s;
}

#connectfour-header {
  animation-delay: 3s;
}

#perfectexcuse-header {
  animation-delay: 3.5s;
}

#beerswall-header {
  animation-delay: 4s;
}

#disneyvault-header {
  animation-delay: 4.5s;
}

#lyrics-header {
  animation-delay: 5s;
}

/*RESPONSIVE*/

@media (max-width: 880px) {
  .title {
    font-size: 14px;
  }
}

@media (max-width: 780px) {
  .container {
    display: block;
  }
  nav {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 0;
  }
  nav h1 {
    font-size: 20px;
    margin: 2% 0 0 -6%;
  }
  nav div {
    margin: 0;
  }
  nav .social {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  main {
    width: 100%;
    display: block;
  }
  main .project{
    width: 90%;
    display: block;
    margin: 5% auto;
    margin-bottom: 8%;
  }
  .photo {
    width: 25%;
    height: 25%;
    margin: 2% 0 0 0;
  }
  .bio {
    padding: 1vh 5vw;
  }
  .body-box {
    width: 90%;
  }
  .tag {
    padding: 3%;
  }
  .tag-box {
    margin-top: 3%;
  }
  #name {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    margin: 2% 0 0 0;
    animation: none !important;
  }
}

@media (max-width: 600px) {
  #name {
    display: inline;
  }
  nav h1 {
    margin: 2% 0 0 0;
  }
}

@media (max-width: 500px) {
  .photo {
    max-width: 40%;
  }
  .logo {
    font-size: 1.5em;
  }
  nav h1 {
    font-size: 1em;
  }
  #text-bio {
    font-size: .5em;
  }
  nav .social {
    font-size: 20px;
    margin-bottom: 5%;
  }
  main h1 {
    font-size: 16px;
  }
  .body-box {
    padding: 1%;
  }
  .description {
    display: inherit;
  }
}
