@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/*Colors: http://clrs.cc/*/

body {
  font-family: 'Inconsolata';
}

#container {
  width: 80%;
  margin: 5% auto;
}

main {
  display: flex;
  justify-content: center;
  margin-left: -10%;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-family: 'Montserrat Subrayada';
  font-size: 5.75em;
  margin: 1% auto;
  padding-bottom: 2%;
}

#user-play, #score-round, #players-turn {
  background-color: #FFFFFF;
  border: 1px solid #111111;
  width: 125px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#howToPlay:hover, #playAgain:hover, #startOver:hover {
  cursor: pointer;
  color: #5F6B8F;
}

#players-turn {
  justify-content: space-around;
}

#gameboard {
  height: 510px;
  width: 600px;
  background-color: #FFF700;
  text-align: center;
  margin-left: 15%;
  padding: 5px;
  border-left: 20px solid #0074D9;
  border-right: 20px solid #0074D9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.redChip, .blackChip, .emptySpace, .canBePlayed {
  display: inline-block;
  border: 5px solid #FFF700;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  vertical-align: middle;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2) inset;
}

.emptySpace {
  background-color: #FFFFFF;
}

.redChip {
  background-color: #FF4136;
}

.blackChip {
  background-color: #111111;
}

.canBePlayed {
  background-color: #EFEFEF;
}

.redPlayer, .blackPlayer {
  display: inline-block;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  vertical-align: middle;
}

.redPlayer {
  background-color: #FF4136;
}

.blackPlayer {
  background-color: #111111;
}

/*HIGHLIGHT WINNER*/

.highlightWinnerRed, .highlightWinnerBlack {
  display: inline-block;
  border: 5px solid #FFF700;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  vertical-align: middle;
}

.highlightWinnerRed {
  animation: blinkingRed 1s infinite;
}

.highlightWinnerBlack {
  animation: blinkingBlack 1s infinite;
}

@keyframes blinkingRed {
  from {
    background-color: #FF4136;
  }
  to {
    background-color: #DDDDDD;
  }
}

@keyframes blinkingBlack {
  from {
    background-color: #111111;
  }
  to {
    background-color: #DDDDDD;
  }
}

/*HOW TO MODAL*/

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow:auto;
	display:none;
}

#modal-text-box {
	background-color: #FFFFFF;
	height: 250px;
	width: 500px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 1%;
  padding: 1.5%;
}

.highlight-word {
  color: #AAAAAA;
}

#close {
  text-align: right;
  font-size: 2em;
  margin-bottom: -10%;
}

#close:hover {
  cursor: pointer;
  color: #5F6B8F;
}

/*RESPONSIVE */

@media (max-width:1010px) {
  h1 {
    font-size: 4em;
  }
  #gameboard {
    margin-left: 10%;
  }
}

@media (max-width:880px) {
  main {
    display: block;
    margin: 0;
  }
  nav {
    flex-direction: row;
  }
  #gameboard {
    height: 360px;
    width: 430px;
    margin: 0 auto;
  }
  .redChip, .blackChip, .emptySpace {
    height: 50px;
    width: 50px;
  }
  #user-play, #score-round, #players-turn {
    width: 100px;
    height: 100px;
  }
  .redPlayer, .blackPlayer {
    height: 50px;
    width: 50px;
  }
  .highlightWinnerRed, .highlightWinnerBlack {
    height: 50px;
    width: 50px;
  }
}

@media (max-width:690px) {
  h1 {
    font-size: 3em;
  }
}

/*MOBILE*/

@media (max-width:570px) {
  h1 {
    font-size: 2em;
  }
  #gameboard {
    height: 210px;
    width: 245px;
    margin: 0 auto;
  }
  .redChip, .blackChip, .emptySpace {
    height: 25px;
    width: 25px;
  }
  #user-play, #score-round, #players-turn {
    width: 75px;
    height: 75px;
    font-size: .75em;
  }
  .redPlayer, .blackPlayer {
    height: 25px;
    width: 25px;
  }
  .highlightWinnerRed, .highlightWinnerBlack {
    height: 25px;
    width: 25px;
  }
  #modal-text-box {
    height: 415px;
    width: 80%;
  }
}
