@import url('https://fonts.googleapis.com/css?family=Joti+One');

body {
  background: url(images/grass.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: white;
  /*font-size: 8em;*/
  text-align: center;
  /*margin-top: 20%;*/
  text-shadow: 5px 2px #000000;
  font-family: 'Joti One', cursive;
}

#container {
  width: 60%;
  margin: auto;
}

#buttonRowInfo, #buttonRowPlay, #infoStatus, #questionBox, #scoreBox {
  text-align: center;
}

#buttonRowInfo, #buttonRowPlay {
  display: flex;
  justify-content: space-around;
}

#buttonRowInfo:hover, #buttonRowPlay:hover {
  cursor: pointer;
}

#landscape, #buy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landscape img, #buy img {
  max-width: 100px;
  max-height: 100px;
}
