@import url('https://fonts.googleapis.com/css?family=Joti+One');

body {
  background: url(images/grass.jpg) no-repeat center center fixed;
  background-size: cover;
}

/*https://pixabay.com/en/dew-morning-meadow-bokeh-morgentau-1507498/*/

h1 {
  color: white;
  font-size: 8em;
  text-align: center;
  margin-top: 20%;
  text-shadow: 5px 2px #000000;
  font-family: 'Joti One', cursive;
}
