/*MAIN TAGS*/
* {
    /*FOR TESTING*/
  border: 1px solid red;
    /*FOR TESTING*/
  margin: 0;
  padding: 0.5em;
}

body {
  /*backgroundURL removed for testing*/
  /*background: url(../images/hamilton_background.jpeg) no-repeat center center fixed;*/
  font-weight: bold;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-top: 0;
}

p, h2, li {
  text-align: left;
}

li {
  list-style: none;
}

section {
  display: flex;
  justify-content: space-around;
  /*background color black after testing*/
  background-color: gray;
  width: calc(100%-1em);
  height: 450px;
}

footer {
  display: flex;
  justify-content: space-between;
}

/*ID AND CLASS*/
#p1-questions, #p2-questions {
  padding: 1em .5em;
  border: 2px solid black;
  margin: 0 1em;
  background-color: black;
  color: white;
  font-weight: normal;
  width: 40%;
}

#player1-score, #player2-score {
  border: 2px solid black;
  text-align: center;
  background-color: rgba(256, 256, 256, .3);
}

#play-again, #turns {
  border: 2px solid black;
  text-align: center;
  background-color: rgba(256, 256, 256, .5);
}

#score1, #score2 {
  text-align: center;
  font-size: 60px;
  margin-bottom: -40px;
  margin-top: -30px;
}

.halfstar {
  height: 50px;
  padding-top: 0;
}

.titleStar {
  position: absolute;
  height: 100px;
  margin-top: 50px;
}

.track {
  font-size: .75em;
  margin-top: 0px;
}

.question {
  font-size: 2.25em;
}

.answer {
  font-size: .9em;
}

.scoreNum {

}
