* {
box-sizing: border-box;
border: 1px dotted red;
}

body {
 color: black;
 margin: 0;
 padding: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
}

nav {
  width: 30%;
  background-color: crimson;
  text-align: center;
  color: white;
  padding: 1vw;
}

nav h1 {
  height: 1em;
  font-size: 2em;
}

main {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  max-width: 50%;
  border-radius: 100px;
  border: 5px solid white;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25%;
}

.social a {
  color: white;
}

.social a:hover {
  color: gray;
}

.project {
  height: 30%;
  border: 1px solid black;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  width: 40%;
}

.project img {
  max-width: 100%;
  display: flex;
}

@media (max-width: 750px) {
  nav h1 {
    font-size: 1.5em;
  }
}
