@import url('https://fonts.googleapis.com/css?family=Special+Elite');


* {
box-sizing: border-box;
/*border: 1px dotted red;*/
}

body {
 color: black;
 margin: 0;
 padding: 0;
 font-family: 'Special Elite', cursive;
}

.container {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
}

nav {
  width: 25%;
  background-color: lightgray;
  color: black;
  text-align: center;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 630px;
}

nav h1 {
  font-size: 1.5em;
  color: white;
}

#text-bio {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
}

.logo {
  color: black;
  font-size: 2.5em;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 5%;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .05em;

  animation: typing 2.5s steps(40, end);
}

.tag {
  margin-left: 1%;
  padding: 1%;
  color: white;
  background-color: lightgray;
  border-radius: 50px;
  font-size: .5em;
}

.tag a {
  color: white;
}

.tag a:hover {
  color: rebeccapurple;
}

.tag-box {
  text-align: right;
  margin-top: -2%;

}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.bio {
  padding: 1vh 1vw;
  font-size: .75em;
  color: black;
}

main {
  width: 75%;
  margin: 0 auto;
}

main h1 {
  margin: 0;
}

main a {
  color: RebeccaPurple;
  text-decoration: none;
}

main a:hover {
  color: gray;
  text-decoration: none;
}

.photo {
  max-width: 50%;
  border-radius: 500px;
  border: 5px solid white;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25%;
}

.social a {
  color: rebeccapurple;
}

.social a:hover {
  color: gray;
}

.project {
  width: 75%;
  margin: 3vh auto;
}

.description {
  text-align: justify;
}

/*RESPONSIVE*/


@media (max-width: 750px) {
  .container {
    display: block;
  }
  nav {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 0;
  }
  nav h1 {
    font-size: 1.5em;
    margin: 2% 0 0 0;
  }
  nav div {
    margin: 0;
  }
  nav .social{
    margin-top: 2%;
    margin-bottom: 2%;
  }
  main {
    width: 100%;
    display: block;
  }
  main .project{
    width: 90%;
    display: block;
    margin: 5% auto;
  }
  .photo {
    max-width: 25%;
  }
  .bio {
    /*text-align: justify;*/
    padding: 1vh 5vw;
  }
}

@media (max-width: 500px) {
  .photo {
    max-width: 40%;
  }
}
